#sede{
  background-color: #ffe521;
}

#generacion{
  background-color: #ffe521;
}

.renglon{
  width: 100%;
  border: 5px solid #ffe521;
}

#cuerpo{
  border: 3px solid #ffe521;
  border-radius: 20px;
  padding: 5%;
  margin-top: 8%;
  margin-bottom: 8%;
}
#buton{
  position: relative;
  top: 2em;
}
#pie{
   padding: 0em;
   position: fixed;
   left: 73em;
   bottom: 0em;
}
#arrow{
  width: 5em;
  height: 6em;
}

 #menu2{
   position: absolute;
   top: 9em;
 }