body{
  font-family: 'Open Sans';
}
#sede, #generacion{
  background-color: #ffe521;
}
#sidebar{
  position: fixed;
}
.renglon{
  width: 100%;
  border: 5px solid #ffe521;
}

#cuerpo{
  border: 3px solid #ffe521;
  border-radius: 20px;
  padding: 5%;
  margin-top: 8%;
  margin-bottom: 8%;
}
#buton{
  position: relative;
  top: 2em;
}
#btn-move{
  position: relative;
  bottom: 1em;
}
#pie{
   padding: 0em;
   position: fixed;
}
#arrow{
  width: 12em;
  height: 8em;
}

 #menu2{
   position: absolute;
   top: 3.5em;
   left: 1em;
   width: 10.6em;
 }
 #menu{
  position: relative;
   left: 1em;
 }
 #resultadosGeneration{
  margin-top:8%;
 }
